$header-device-height: px(40);

.header {
  &--position {
    width: 100%;
    height: px($header-height);
    background-color: $oc-white;
    margin-top: 0;
    transition: margin-top .125s ease-in-out;
    z-index: 0;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  &--content {
    height: inherit;
    @include flex;
    @include align-items(center);

  }

  &--left {
    height: inherit;
  }

  &--right {
    height: inherit;
    margin-left: auto;
  }

  &--device {
    display: none;

    .burger-menu {
      @include size(50px);
      @include flex-all;
      padding: 15px;
      position: relative;

      svg {
        width: 100%;
      }
      img {
        height: 100%;
        display: block;
      }
    }

    @include max-min(max px($device-tablet)) {
      @include flex-all;
      @include size(100%);
    }
  }
}

