body {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-family: $SamsungSans-Regular;
  font-size: 16px;
  color: $color-gray-3;
  background-color: $color-gray-1;
}


.head-title {
  color: $color-gray-3;
  font-family: $SamsungSans-Regular;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;

  &--sm {

  }
}

.text-center {
  text-align: center;
}

.flex {
  @include flex;
}

.flex-el {
  flex: 1;
}

.align-items {
  &--center {
    @include align-items(center);
  }
}


.justify-content {
  &--center {
    @include justify-content(center);
  }
}

.right-area {
  //margin-right: auto;
}


a {
  text-decoration: none;
  color: $color-gray-2;

  &:hover {
    color: $color-gray-3;
  }
}

* {
  box-sizing: border-box;
}

.__layout {
  &--hide {
    opacity: 0;
    @include size(0px);
    overflow: hidden;
  }
}

ul.num-list {
  li {
    list-style: decimal;
  }
}

.hidden {
  display: none !important;
}

.devHide {
}

.p-list {
  @each $padd in $padding-list {
    &--#{$padd} {
      > * {
        padding-top: px($padd);

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}

.m-list {
  @each $padd in $padding-list {
    &--#{$padd} {
      > * {
        margin-top: px($padd);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.theme--textarea {
  border-radius: 15px;
  border: 1px solid $color-gray-5;
  background-color: #ffffff;
  min-height: 77px;
  height: 100%;
  transition: all .125s ease-in-out;
  width: 100%;
}
.margin-v {
  @each $marg in $margins-list {
    &--#{$marg} {
      > * {
        margin: px($marg) 0;
      }
    }
  }
}

.padding-h {
  @each $marg in $margins-list {
    &--#{$marg} {
      > * {
        padding: 0 px($marg);
      }
    }
  }
}
