body {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-family: $SamsungSans-Regular;
  font-size: 16px;
  color: $color-gray-3;
  background-color: $color-gray-1;

  &.static-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}


.head-title {
  color: $color-gray-3;
  font-family: $SamsungSans-Regular;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;

  &--sm {

  }
}

.text-center {
  text-align: center;
}

.flex {
  @include flex;
}

.right-area {
  margin-left: auto;
}

.flex-el {
  flex: 1;
}

.align-items {
  &--center {
    @include align-items(center);
  }
}


.justify-content {
  &--center {
    @include justify-content(center);
  }
}

.right-area {
  //margin-right: auto;
}


a {
  text-decoration: none;
  color: $color-gray-2;

  &:hover {
    color: $color-gray-3;
  }
}

* {
  box-sizing: border-box;
}

.__layout {
  &--hide {
    opacity: 0;
    @include size(0px);
    overflow: hidden;
  }
}

ul.num-list {
  li {
    list-style: decimal;
  }
}

.hidden {
  display: none !important;
}

.devHide {
}

.m-list {
  @each $padd in $margin-top-list {
    &--#{$padd} {
      > * {
        margin-top: px($padd);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.theme--textarea {
  border-radius: 15px;
  border: 1px solid $color-gray-5;
  background-color: #ffffff;
  min-height: 77px;
  height: 100%;
  transition: all .125s ease-in-out;
  width: 100%;

  &::placeholder {
    color: $color-gray-2;
  }

  &:hover {
    border-color: darken($color-gray-5, 9%);
  }

  &:focus-within {
    border-color: $color-blue;
  }
}

.margin {
  &--top {
    &--list {
      @each $padd in $margin-top-list {
        &--#{$padd} {
          > * {
            margin-top: px($padd);

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.padding {
  &--top {
    &--list {
      @each $padd in $margin-top-list {
        &--#{$padd} {
          > * {
            padding-top: px($padd);

            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }

  @each $padd in $padding-v-range {
    &--top {
      &--#{$padd} {
        padding-top: px($padd);
      }
    }

    &--bottom {
      &--#{$padd} {
        padding-bottom: px($padd);
      }
    }
  }
  @each $padd in $margin-top-list {
    &--#{$padd} {
      padding: px($padd);
    }
  }
}

$alert-colors: (
    default: (color: $color-gray-4),
    success: (color: $oc-green-4),
    error: (color: $oc-red-4),
    warning: (color: $oc-orange-4),
);

$alert-colors-bg: (
    default: (color: $oc-gray-1),
    success: (color: $oc-green-1),
    error: (color: $oc-red-1),
    warning: (color: $oc-orange-1),
);

@each $key, $value in $alert-colors {
  @if map-has-key($alert-colors, $key) {
    .text {
      &--color {
        &--#{$key} {
          color: map-get(map-get($alert-colors, $key), color);
        }
      }
    }
  }
}

@each $key, $value in $alert-colors-bg {
  @if map-has-key($alert-colors-bg, $key) {
    .bg {
      &--color {
        &--#{$key} {
          background-color: map-get(map-get($alert-colors-bg, $key), color);
        }
      }
    }
  }
}
